body {
  margin: 0;
  padding: 0;
  background-color: #23252C;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  flex-direction: column;
  border: 1px solid #ddd;
}
